.rate-container {
    width: 200px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
}

.rate-container__stars{
    display: flex !important;
    list-style-type: none !important;
    justify-content: center !important;
    padding: 0 !important;
    min-height: 31px !important;
}
 /* ------ Стили класса rate-container__stars не применяются
 ----------В devtools стили применяются корректно */
